* {
    box-sizing: border-box;
}

body {
    font-family: "Caudex";
    text-align: center; 
        }

figcaption {
    color: ;
    font-family: "Caudex";
    text-align: center;
}

h1 {
    font-family: "Caudex";
    text-align: center;
}